[submodule "ts-js-module/ts/tRPC-React"]
	path = ts-js-module/ts/tRPC-React
	url = git@github.com:hd719/tRPC-Express-React.git
[submodule "ts-js-module/ts/TS"]
	path = ts-js-module/ts/TS
	url = git@github.com:hd719/TS.git
[submodule "ts-js-module/ts/ts-comprehensive"]
	path = ts-js-module/ts/ts-comprehensive
	url = git@github.com:hd719/ts-comprehensive.git
[submodule "react/useExternalStore"]
	path = react/useExternalStore
	url = git@github.com:hd719/useExternalStore-React.git
[submodule "js/graphql-mongo-template"]
	path = js/graphql-mongo-template
	url = git@github.com:hd719/graphql-mongo-api-template.git
[submodule "js/useful-functions"]
	path = js/useful-functions
	url = git@github.com:hd719/useful-functions.git
